<html>
    <head>
        <title>The List</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
        <h1 class="brand" >Rolling Stone's Top 100 Albumns of All Time</h1>
        </div>
    </div>
    <div class="container-fluid yield">
        <%= yield %>
    </div>
    </body>
</html>
