/* main.css */
@import url('reset.css');

body {
    background-color:       #AAAAAA;
    padding:                0px;
    border:                 none;
    margin:                 0px;
    font-family:            sans-serif;
}

/* 
 * Force size to be 1000 px
 * Black border 
 * Centered
 */
div.container {
    width:                  1000px;
    margin-left:            auto;
    margin-right:           auto;
    background-color:       white;
    border:                 1px solid black;
}

div.body {
    padding:                10px;
}

div.body table.grid-layout td {
    padding:                10px 5px 10px 0px;
    vertical-align:         top;
}

header {
    background-color:       #CCCCCC;
    padding:                10px;
    border:                 none;
}

header h1 {
    letter-spacing:         -2px;
}

header h4 {
    padding-top:            1px;
    color:                  #666666;
    font-size:              70%;
}

footer {
    background-color:       #F0F0F0;
    padding:                10px;
    text-align:             center;
    font-size:              85%;
}

nav { 
    background-color:       black;
    color:                  white;
    padding:                10px;
    font-weight:            bold;
}

nav li {
    list-style-type:        none;
    display:                inline;
    padding:                15px;
}

nav a:link,a:visited,a:active {
    text-decoration:        none;
    color:                  white;
}

nav a:hover {
    text-decoration:        none;
    color:                  #C0C0FF;
}

div.side-element {
    background-color:       #F0F0FF;
    float:                  right;
    padding:                5px 25px 5px 5px;
}

div.side-element * {
    padding-bottom:         20px;

}


