/* main.css */
@import url('reset.css');

body {
    background-color:       #AAAAAA;
    padding:                0px;
    border:                 none;
    margin:                 0px;
}

/* 
 * Force size to be 1000 px
 * Black border 
 * Centered
 */
div.container {
    width:                  1000px;
    margin-left:            auto;
    margin-right:           auto;
    background-color:       white;
    border:                 1px solid black;

}

header {
    background-color:       #CCCCCC;
    padding:                10px;
    border:                 none;
}

header h4 {
    color:                  #666666;
}

footer {
    background-color:       #F0F0F0;
}

nav { 
    background-color:       black;
    color:                  white;
    padding:                10px;

}

nav li {
    list-style-type:        none;
    display:                inline;
    padding:                15px;
}

div.side-element {
    background-color:       #F0F0FF;
}


